/*.iml
/.idea/
abschlussarbeiten-vorlage.pdf

*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
/out/production/ba-erik/cndp/CNPObjectiveFunction.class
/out/production/ba-erik/cndp/CriticalNodeDetection$LocalMin.class
/out/production/ba-erik/cndp/CriticalNodeDetection.class
/out/production/ba-erik/graph/Graph.class
/out/production/ba-erik/graph/Node.class
/out/production/ba-erik/cndp/ObjectiveFunction.class
/out/production/ba-erik/cndp/ReductionRule.class
/out/production/ba-erik/graph/WeightedGraph$1bCoefficient.class
/out/production/ba-erik/graph/WeightedGraph.class
/out/production/ba-erik/graph/WeightedGraphTest.class
/bio-DM-LC.edges
/out/production/ba-erik/sipura/CriticalNodeDetection$LocalMin.class
/out/production/ba-erik/sipura/CriticalNodeDetection.class
/out/production/ba-erik/cndp/CriticalNodeDetectionTest.class
/out/production/ba-erik/sipura/CriticalNodeDetectionTest.class
/out/production/ba-erik/graph/CustomGraph$1bCoefficient.class
/out/production/ba-erik/graph/CustomGraph.class
/out/production/ba-erik/graph/CustomGraphTest.class
/out/production/ba-erik/sipura/VulnerableGraph.class
/out/production/ba-erik/sipura/ObjectiveFunction.class
/out/production/ba-erik/sipura/StartingPopulation.class
/out/production/ba-erik/sipura/CriticalNodeDetection$LocalListMin.class
/out/production/ba-erik/sipura/CriticalNodeDetection$ObjectiveFunction.class
/out/production/ba-erik/sipura/CriticalNodeDetection$StartingPopulation.class
